@media screen and (min-width: 768px ) {
    .signUp form {
        width: 66%;
        margin: 0 auto;
    }

    .signUp form div {
        display: flex;
        justify-content: space-between;
    }

    .signUp form label {
        font-size: 22px;
        display: inline-block;
        margin-right: 5px;
    }

    .signUp form input {
        display: inline;
    }

    form input[type="submit"].signUpButton {
        width: 100%;
    }
}