header {
    padding-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header h1 {
    margin: 0;
}

.loggedIn {
    background-color: #1376aa;
    position: static;
    z-index: 30;
    box-shadow: 0px 15px 10px -15px #004b7b;
}