.editProfile h2 {
    text-align: center;
    margin-top: 10px;
}

.editProfile #skill {
    margin-bottom: 15px;
}

.editProfile form div ul {
    padding-left: 0;
}

.editProfile form div img {
    height: 25px;
    margin-bottom: -5px;
    margin-right: 3px;
}

.editProfile form div .saveProfile {
    margin: 0 auto;
    display: block;
}