.editProfile h2 {
    text-align: center;
    margin-top: 10px;
}

.editProfile #skill {
    margin-bottom: 15px;
}

.editProfile form div ul {
    padding-left: 0;
}

.editProfile form div img {
    height: 25px;
    margin-bottom: -5px;
    margin-right: 3px;
}

.editProfile form div .saveProfile {
    margin: 0 auto;
    display: block;
}

@media screen and (min-width: 768px ) {
    .editProfile form {
        width: 66%;
        margin: 30px auto;
    }

    .editProfile form div {
        display: flex;
        justify-content: space-between;
    }

    .editProfile form label {
        font-size: 22px;
        display: inline-block;
        margin-right: 5px;
    }

    .editProfile form input {
        display: inline;
    }

    form input[type="submit"].saveProfile {
        width: 100%;
    }

    /* Not finished, this is where I start */
}