.createPost form textarea {
    display: block;
    margin: 20px auto;
    border: solid 1px #444444;
    height: 100px;
    width: 250px;
    background-color: #eeeeee;
}

.createPost form input {
    display: block;
    margin: 0 auto;
}

.feed .post {
    background-color: #eeeeee;
    width: 80%;
    margin: 10px auto 20px;
    padding: 10px;
    box-shadow: 0px 0px 4px #444444;
    color: #444444;
    font-size: 16px;
}

.feed .post .text p {
    width: 90%;
    margin: 16px auto;
}

.feed .post .text span {
    text-align: left;
    width: 90%;
    display: block;
    margin: 0 auto;
}

.feed .post .interactivity {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 10px auto;
}

.feed .post .interactivity span {
    display: block;
    width: 80px;
    background-color: #1376AA;
    border: none;
    color: #eeeeee;
    padding: 5px;
    text-align: center;
}

.feed .post .interactivity span.liked,
.feed .post .interactivity span:hover {
    background-color: #004b7b;
}

